body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background-color: rgb(255, 246, 236);
}

.next-word{
  font-size: 2em;
}
.head-word {
  padding-top: 1.5em;
  font-size: 12em;
}

.contact {
  color: blue;
  font-weight: 400;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: large;
  font-weight: 800;
}

.navbar{
  font-weight: 400;
}